[submodule "data"]
	path = data
	url = https://git.research.arm.com/ComputeLibrary/data.git
	branch = master
[submodule "release_repository"]
	path = release_repository
	url = ssh://eu-gerrit-1.euhpc.arm.com:29418/VisualCompute/Github/ComputeLibrary
	branch = master
